<% link_to product.link, class: "tile" do %>
  <article>
    <%= image_tag product.image.src, alt: product.image.alt || product.name %>
    <div class="text">
      <h3><%= product.name %></h3>
      <p><%= product.summary %></p>
      <span>Read more →</span>
    </div>
  </article>
<% end %>
