.products .grid .tile {
  text-decoration: none;
  transition: transform .18s ease;

  &:hover {
    transform: scale(1.04);
    transition: transform .12s ease;
  }

  article {
    border-radius: $border-radius;
    box-shadow: $shadow;
    height: 100%;
    overflow: hidden;
    position: relative;
  }

  .text {
    color: $color-font;
    padding: 1.5rem 1.75rem 3.5rem;
  }

  span {
    bottom: 1.75rem;
    color: $color-link;
    left: 1.75rem;
    position: absolute;
  }
}
