<% link_to "/", :class => "logo" do %>
  <%= image_tag logo_image_path, alt: config.company_name %>
  <% if show_company_name %>
    <div class="company-name"><%= config.company_name %></div>
  <% end %>
<% end %>
