@import "_variables";

body {
  background-color: $color-white;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $font-family-heading;
  font-weight: 700;
  text-transform: uppercase;
}

::selection {
  background: $color-selection;
}

.row {
  width: 100%;
}

.container {
  margin: 0 auto;
  padding: 0 $grid-gap;

  @include for-tablet-landscape-up {
    max-width: 900px;
  }


  @include for-desktop-up {
    max-width: 1080px;
  }
}
