@import "_variables";

body {
  background-color: $color-white;
}

::selection {
  background: $color-selection;
}

section {
  margin-bottom: $spacing-large;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: $grid-gap;
  padding-right: $grid-gap;

  @include for-tablet-landscape-up {
    max-width: $max-width-tablet-landscape-up;
  }


  @include for-desktop-up {
    max-width: $max-width-desktop-up;
  }
}

.icon {
  display: inline-block;
  fill: currentColor;
  height: 1em;
  stroke: currentColor;
  stroke-width: 0;
  width: 1em;
}
