@import "_variables";

body {
  color: $color-font;
  font-family: $font-family;
  font-size: $font-size;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $font-family-heading;
  font-weight: 800;
  line-height: 110%;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 1.75rem;
  margin-bottom: $spacing-medium;
}

h3 {
  font-size: 1.125rem;
}

a {
  color: $color-link;
  transition: color .075s ease, background-color .1s ease;

  &:focus,
  &:hover,
  &:active {
    color: $color-link-hover;
  }
}

button,
.button {
  font-family: $font-family-ui;
  font-weight: 400;
  text-decoration: none;
}
