// ---- Fonts -----------------------------------
$font-family: "PT Serif", -apple-system, BlinkMacSystemFont, system-ui, "Bitstream Charter", "Sylfaen", "Times", "Times New Roman", "Century Schoolbook L", "URW Palladio L", "URW Bookman L", "Georgia", serif;
$font-family-heading: "Roboto Condensed", -apple-system, BlinkMacSystemFont, system-ui, "Avenir Next", "Avenir", "Segoe UI", "Lucida Grande", "Helvetica Neue", "Helvetica", "Fira Sans", "Roboto", "Noto", "Droid Sans", "Cantarell", "Oxygen", "Ubuntu", "Franklin Gothic Medium", "Century Gothic", "Liberation Sans", sans-serif;
$font-family-ui: $font-family-heading;
$font-size: 16px;

// ---- Borders ---------------------------------
$border-radius: 2px;
$border-width-thick: 2px;
$border-width-thin: 1px;

// ---- Colors ----------------------------------
$color-black: #000;
$color-black-transparent: transparentize($color-black, 0.5);
$color-white: #fff;
$color-white-hover: darken($color-white, 10%);
$color-white-transparent: transparentize($color-white, 0.5);

$color-primary: #5888e5;
$color-primary-hover: darken($color-primary, 5%);
$color-primary-transparent: transparentize($color-primary, 0.5);
$color-secondary: #e480b0;
$color-secondary-hover: darken($color-secondary, 5%);
$color-secondary-transparent: transparentize($color-secondary, 0.5);
$color-tertiary: #f9db01;
$color-tertiary-hover: darken($color-tertiary, 5%);
$color-tertiary-transparent: transparentize($color-tertiary, 0.5);

$color-font: #272727;
$color-link: $color-secondary;
$color-link-hover: darken($color-link, 10%);
$color-selection: transparentize($color-tertiary, 0.2);

// ---- Grid ------------------------------------
$grid-gap: 0.75rem;
$max-width-desktop-up: 1080px;
$max-width-tablet-landscape-up: 900px;
$spacing-small: 0.75rem;

// ---- Breakpoints -----------------------------
@mixin for-phone-only {
  @media (max-width: 600px) {
    @content;
  }
}

@mixin for-phone-landscape-only {
  @media (max-width: 600px) and (orientation: landscape) {
    @content;
  }
}

@mixin for-tablet-portrait-only {
  @media (min-width: 601px) and (max-width: 900px) {
    @content;
  }
}

@mixin for-tablet-portrait-up {
  @media (min-width: 601px) {
    @content;
  }
}

@mixin for-tablet-landscape-only {
  @media (min-width: 900px) and (max-width: 1200px) {
    @content;
  }
}

@mixin for-tablet-landscape-up {
  @media (min-width: 900px) {
    @content;
  }
}

@mixin for-desktop-only {
  @media (min-width: 1200px) and (max-width: 1800px) {
    @content;
  }
}

@mixin for-desktop-up {
  @media (min-width: 1200px) {
    @content;
  }
}

@mixin for-large-desktop-up {
  @media (min-width: 1800px) {
    @content;
  }
}
