// ---- Fonts -----------------------------------
$font-family: "PT Serif", -apple-system, BlinkMacSystemFont, system-ui, "Bitstream Charter", "Sylfaen", "Times", "Times New Roman", "Century Schoolbook L", "URW Palladio L", "URW Bookman L", "Georgia", serif;
$font-family-heading: "Roboto Condensed", -apple-system, BlinkMacSystemFont, system-ui, "Avenir Next", "Avenir", "Segoe UI", "Lucida Grande", "Helvetica Neue", "Helvetica", "Fira Sans", "Roboto", "Noto", "Droid Sans", "Cantarell", "Oxygen", "Ubuntu", "Franklin Gothic Medium", "Century Gothic", "Liberation Sans", sans-serif;
$font-size: 16px;

// ---- Colors ----------------------------------
$color-black-transparent: transparentize(#000, 0.95);
$color-white: #fff;

$color-primary: #5888e5;
$color-secondary: #e480b0;
$color-tertiary: #f9db01;
$color-font: #272727;
$color-link: $color-secondary;
$color-link-hover: darken($color-link, 10%);
$color-selection: transparentize($color-tertiary, 0.2);

// ---- Grid ------------------------------------
$grid-gap: 0.75rem;
$spacing-small: 0.75rem;

// ---- Breakpoints -----------------------------
@mixin for-phone-only {
  @media (max-width: 600px) {
    @content;
  }
}

@mixin for-phone-landscape-only {
  @media (max-width: 600px) and (orientation: landscape) {
    @content;
  }
}

@mixin for-tablet-portrait-only {
  @media (min-width: 601px) and (max-width: 900px) {
    @content;
  }
}

@mixin for-tablet-portrait-up {
  @media (min-width: 601px) {
    @content;
  }
}

@mixin for-tablet-landscape-only {
  @media (min-width: 900px) and (max-width: 1200px) {
    @content;
  }
}

@mixin for-tablet-landscape-up {
  @media (min-width: 900px) {
    @content;
  }
}

@mixin for-desktop-only {
  @media (min-width: 1200px) and (max-width: 1800px) {
    @content;
  }
}

@mixin for-desktop-up {
  @media (min-width: 1200px) {
    @content;
  }
}

@mixin for-large-desktop-up {
  @media (min-width: 1800px) {
    @content;
  }
}
