<section class="product-list container">
  <h2><%= title %></h2>
  <div class="grid">
    <% data.products.products.each do |product| %>
      <%= partial("bricks/product/grid/tile/tile", locals: { product: product }) %>
    <% end %>
  </div>
</section>
