<article class="tile">
  <%= image_tag featured.image.src, alt: featured.image.alt || featured.title %>
  <div class="text">
    <h3><%= featured.title %></h3>
    <p><%= featured.description %></p>
  </div>
</article>
