<section class="products container">
  <h2><%= title %></h2>
  <div class="list">
    <% data.products.each do |product| %>
      <%= partial("bricks/product/list/item/item", locals: { product: product }) %>
    <% end %>
  </div>
</section>
