.button {
  $button-font-size: 1rem;
  $button-icon-size: 1.25rem;
  $button-font-size-large: 1.25rem;
  $button-icon-size-large: 1.75rem;

  align-items: center;
  border-radius: $border-radius;
  border-style: solid;
  border-width: $border-width-thin;
  display: inline-flex;
  font-size: $button-font-size;
  margin-bottom: .625rem;
  padding: ($button-font-size / 2) 1.25rem;

  &.large {
    border-width: $border-width-thick;
    font-size: $button-font-size-large;
    padding: ($button-font-size / 4 * 3) 1.875rem;

    .inline-svg {
      width: $button-icon-size-large;
      height: $button-icon-size-large;
    }
  }

  &.rounded {
    border-radius: $button-font-size * 2;
  }

  $styles: (
    "default": (
      color: $color-primary,
      hovercolor: $color-primary-hover,
      textcolor: $color-white
    ),
    "primary": (
      color: $color-primary,
      hovercolor: $color-primary-hover,
      textcolor: $color-white
    ),
    "secondary": (
      color: $color-secondary,
      hovercolor: $color-secondary-hover,
      textcolor: $color-white
    ),
    "tertiary": (
      color: $color-tertiary,
      hovercolor: $color-tertiary-hover,
      textcolor: $color-white
    ),
    "white": (
      color: $color-white,
      hovercolor: $color-white-hover,
      textcolor: $color-font
    )
  );

  @each $style, $map in $styles {
    &.#{$style} {
      background-color: map-get($map, color);
      border-color: map-get($map, color);
      color: map-get($map, textcolor);

      &:hover {
        background-color: map-get($map, hovercolor);
        border-color: map-get($map, hovercolor);
      }

      .inline-svg path {
        fill: map-get($map, textcolor);
      }
    }

    &.#{$style}.ghost {
      background-color: transparent;
      color: map-get($map, color);

      &:hover {
        background-color: map-get($map, color);
        border-color: map-get($map, color);
        color: map-get($map, textcolor);

        .inline-svg path {
          fill: map-get($map, textcolor);
        }
      }

      .inline-svg path {
        fill: map-get($map, color);
      }
    }
  }

  .inline-svg {
    width: $button-icon-size;
    height: $button-icon-size;

    &.left {
      margin-left: -.375rem;
      margin-right: .5rem;
    }

    &.right {
      margin-left: .5rem;
      margin-right: -.375rem;
    }
  }
}
