<header class="container">
  <% link_to "/", :class => "logo" do %>
    <%= image_tag "legobox-logo.svg", :width => "250", :alt => config.company_name %>
    <p>Legobox</p>
  <% end %>
  <nav>
    <ul>
      <li>hoi</li>
      <li>hoi</li>
    </ul>
  </nav>
</header>
