header {
  background: $color-primary;

  nav {
    padding: 0;

    @include for-tablet-portrait-up {
      display: grid;
      grid-template-columns: 10rem auto;
      grid-template-rows: auto auto;
    }


    .logo {
      align-items: center;
      color: $color-white;
      column-gap: $grid-gap;
      display: grid;
      font-family: $font-family-heading;
      font-weight: 700;
      grid-template-columns: 3rem auto;
      grid-template-rows: auto auto;
      margin-right: 4rem;
      padding: $spacing-small;
      text-decoration: none;
      text-transform: uppercase;

      @include for-tablet-portrait-up {
        margin-right: 0;
      }


      &:hover,
      &:focus {
        background-color: $color-primary-hover;
        color: $color-white;
      }
    }

    ul {
      @include for-tablet-portrait-up {
        align-items: center;
        display: flex;
        margin-left: auto;
      }


      li a {
        border-radius: $border-radius;
        color: $color-white;
        display: block;
        font-family: $font-family-heading;
        padding: $spacing-small;
        text-decoration: none;

        &:hover,
        &:focus {
          background-color: $color-primary-hover;
          color: $color-white;
        }
      }
    }
  }

  #navList {
    &.collapsed {
      height: 0;
      overflow: hidden;

      @include for-tablet-portrait-up {
        height: auto;
        overflow: initial;
      }
    }

    &.expanded {
      height: auto;
    }
  }

  #navToggleButton {
    background: none;
    border-color: transparent;
    border-width: 1.4375rem 1rem;
    cursor: pointer;
    height: 4rem;
    padding: 0;
    position: absolute;
    top: 0rem;
    right: 0rem;
    width: 4rem;

    @include for-tablet-portrait-up {
      display: none;
    }


    &:hover,
    &:focus {
      background-color: $color-primary-hover;
    }

    &.active {
      .bar {
        left: 5%;
        top: .5rem;
        transform: rotate(225deg);
        width: 90%;
      }

      .bar::before {
        top: 0;
        transform: rotate(90deg);
      }

      .bar::after {
        top: 0;
        transform: rotate(90deg);
      }
    }

    .bar,
    .bar::before,
    .bar::after {
      background-color: $color-white;
      height: .125rem;
      left: 0;
      position: absolute;
      transition: top .18s ease, transform .22s ease;
      width: 100%;
    }

    .bar {
      top: 0;

      &::before,
      &::after {
        content: "";
        display: block;
      }

      &::before {
        top: .5rem;
      }

      &:after {
        top: 1rem;
      }
    }
  }
}
