header {
  background: $color-primary;
  display: grid;
  grid-template-columns: 1fr 5fr;
  grid-template-rows: auto auto;
  grid-gap: $grid-gap;
}

.logo {
  color: $color-white;
  text-decoration: none;
}
