---
title: Home
description: This must be under 500 characters.
abstract: Summary of one sentence and this must be under 100 characters.
og_content_type: ["product", "blog", "website", "book", "movie", ... ]
og_images:
  - "test.jpg"
  - "test2.jpg"
---

<h1><%= current_page.data.title %></h1>

<%= link_to(
  "Read Documentation",
  "https://middlemanapp.com/basics/templating_language/",
  target: "_blank"
) %>
